.container-fluid {
    padding: 0
}
.title-card {
    height: 70vw;
    max-height: 500px;
    background: url(./images/notebook.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #337ab7
}
h2 {
    font-weight: bold;
}
.function-card {
    background-color: #469AE0;
    color: white;
    padding: 75px 0;
    text-align: center;
}
.glyphicon {
    font-size: 35px;
}
@media (max-width: 991px) {
    .row-2 {
        padding-top: 50px;
    }
}
.tagline {
    color: #337ab7;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subscribe-card {
    height: 250px;
}
.vert-center {
    align-content: center;
}
.footer {
    background-color: black;
}
.row {
    margin: 0;
}
.footer .row {
    padding: 15px 0;
}
.icon {
    width: 30px;
    margin: 20px 10px;
}
.signature {
    color: white;
    margin: 0;
    padding: 20px 0;
}